*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Source Serif 4', serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;

    background-image: url("./assets/fonas2.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgb(95, 145, 105);
}

header a {
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 120px;
}

.logo span {
    font-family: 'Bungee Inline', cursive;
    font-size: 30px;
    color: rgb(117, 96, 96);
}

header ul {
    display: flex;
    gap: 35px;
    list-style-type: none;
    padding-left: 0;
}

header ul li a {
    text-decoration: none;
    color: rgb(69, 58, 58);
    font-weight: 500;
    font-size: 20px;
}

.plants-wrapper {
    min-height: calc(100vh - 300px);
    display: flex;
    flex-direction: column;
}


.plant-wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
}

.border-wrapper {
    align-self: center;
    border-top: solid 2px rgb(197, 179, 179);
    width: 50%;
}

.border-wrapper:last-child {
    border-bottom: solid 2px rgb(197, 179, 179);
}

.plant-wrapper img {
    min-height: 200px;
    width: 30%;
    object-fit: cover;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 10%;
}

.text-wrapper .title {
    font-weight: 600;
    font-size: 18px;
}

.plant-section {
    min-height: calc(100vh - 300px);
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.plant-photo {
    height: 500px;
    background-repeat: no-repeat;
    width: 400px;
    background-size: cover;
    align-self: center;
}

.plant-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: solid 2px rgb(197, 179, 179);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;

}

.one-plant-wrapper {
    border: solid 2px rgb(197, 179, 179);
    border-radius: 20px;
    width: 600px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.plant-name {
    font-weight: 600;
    font-size: 30px;
    color: rgb(69, 58, 58);
}

.plant-place {
    font-weight: 400;
    font-size: 20px;
    color: rgb(117, 96, 96);
}

.plant-price {
    font-weight: 600;
    font-size: 38px;
    color: #209748;
    align-self: center;
}

.plant-description {
    margin-top: 20px;
    letter-spacing: 0.1px;
    font-weight: 400;
    font-size: 18px;
    color: rgb(69, 58, 58);
}

.buttons {
    align-self: center;
    display: flex;
    gap: 15px;
}

.buttons .delete {
    cursor: pointer;
    border: none;
    background-color: white;
    padding: 0;
}

.buttons .delete-icon img {
    object-fit: cover;
    height: 20px;

}

.buttons .back {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #d5edd2;
    color: rgb(69, 58, 58);
    cursor: pointer;
    border-radius: 10px;
    border: solid 2px rgb(69, 58, 58);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.3px;
}

.plant-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
    align-self: center;
    margin-top: 40px;
}

.plant-form input {
    padding: 8px;
    border: solid 2px rgb(197, 179, 179);
    border-radius: 10px;
}

.plant-form label {
    font-size: 18px;
    font-weight: 600;
    color: rgb(69, 58, 58);

}

.plant-form button {
    padding: 8px;
    background-color: #d5edd2;
    color: rgb(69, 58, 58);
    cursor: pointer;
    border-radius: 10px;
    border: solid 2px rgb(69, 58, 58);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.3px;
    width: 150px;
    align-self: flex-end;
    margin-right: 40px;
    margin-top: 10px;
}

.success-message {
    color: rgb(102, 177, 102);
}

.delete-message {
    color: red;
    font-size: 22px;
    align-self: center;
    margin-bottom: 30px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;

    background-image: url("./assets/fonas2.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgb(95, 145, 105);
}

.facebook,
.twitter,
.instagram {
    fill: #497658;
}

.icons-wrapper {
    display: flex;
}

.icons-wrapper a {
    align-self: center;
}